* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  border-radius: 13px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
}

.img {
  padding: 12px;
}

.img img {
  border-radius: 10px;
  width: 100%;
}

.text {
  font-size: 15px;
  padding: 20px;
}

.text h2 {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
  .card {
    width: 85%;
  }
}
